#banner-load {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.btnsharp {
    border-radius: 0;
}

.btnoutline {
    background: none;
    padding: 12px 22px;
    width: 200px;
    height:60px;
}

.btnoutlinecolor:active {
    border: 2px solid #FFF;
    color: #FFF;
    box-shadow: none;
}

.btnoutlinecolor,
.btnoutlinecolor:focus {
    border: 2px solid #FFF;
    color: #FFF;
}


.btnoutlinecolor:hover {
    border: 2px solid #bababa;
    color: #bababa;
}

.fade-in {
    -webkit-animation: fade-in 2s ease;
    -moz-animation: fade-in ease-in-out 2s both;
    -ms-animation: fade-in ease-in-out 2s both;
    -o-animation: fade-in ease-in-out 2s both;
    animation: fade-in 2s ease;
    visibility: visible;
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}